/* ============== Media Queries for Map and Restaurant ============= */
@media screen and (max-width: 798px){
  /*both pages*/
  #restaurant-content {
    position: relative;
    width: 100%;
  }
  #map-container{
    position: relative;
    top: 0;
    width: 100%;
    height: 23.125rem;
    #map{
      height: 100%;
    }
  }
  /*restaurant.html page*/
  #breadcrumb {
    ul{
      width: 100%;
    }
  }
  #restaurant-container{
    padding-top: 20px;
    #restaurant-img{
      width: 50%;
      float: left;
    }
  }
  #reviews-container{
    #reviews-list{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      li{
        width: 40%;
      }
    }
  }
  /*index.html page*/
  .filter-options{
    .select-container{
      flex-flow: row nowrap;
      justify-content: space-around;
      width: 80%;
      select{
        width: 45%;
      }
    }
    h3{
      width: 20%;
    }
  }
  #restaurant-content{
    #restaurants-list{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      li{
        width: 37%;
        h2, p, a {
          text-align: center;
        }
        a{
          margin: 0 auto;
        }
      }
    }
  }
}