/* ============== Media Queries for Map and Restaurant ============= */
@media screen and (max-width: 323px){
  /*restaurant.html page*/
  #breadcrumb{
    ul{
      padding: 10px 15px 16px;
    }
  }
  #reviews-container{
    padding: 50px 10px 30px;
  }
  /*index.html page*/
  .filter-options{
    flex-flow: column nowrap;
    padding: 15px 30px;
    .select-container, h3{
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
  #restaurants-list{
    li{
      a{
        width: auto;
      }
    }
  }
}