/* ============== Media Queries for Map and Restaurant ============= */
@media screen and (max-width: 498px){
  .filter-options{
    padding-right: 15px;
    .select-container{
      flex-flow: column nowrap;
      width: 60%;
      justify-content: center;
      align-content: center;
      select{
        width: 100%;
      }
    }
    h3{
      width: 30%;
    }
  }
}