/* ============== Media Queries for Map and Restaurant ============= */
@media screen and (max-width: 541px){
  #footer{
    padding: 25px 10px;
    text-align: left;
    overflow-wrap: break-all;
  }
}